{% extends "layout.html" %}

{% block title %}
    {{show['title']}}
{% endblock %}

{% block main %}
    <div class="big_title">{{show['title']}}</div>
    <div class="show_content">
        <div class="left-part">
            {% if show['image'] is none %}
                <div class="image"><img src="static/images/no_image.png" /></div>
            {%else%}
                <div class="image"><img src = "{{ show['image'] }}"></div>
            {% endif %}
            <div class ="show_info">
                <div class="small_section_title">Information</div>
                <div class="info_box"> Year: {{ show['year']}} </div>
                <div class="info_box"> Rated: {{ show['rated']}} </div>
                <div class="info_box"> Released: {{ show['released']}} </div>
                <div class="info_box"> Duration: {{ show['duration']}} </div>
                <div class="info_box"> Language: {{ show['language']}} </div>
                <div class="info_box"> Country: {{ show['country']}} </div>
                <div class="info_box"> Type: {{ show['type']}} </div>
                <div class="info_box"> Seasons: {{ show['seasons']}} </div>
            </div>
        </div>
        <div class="right-part">
            <div class="stats">
                <div class="score">
                    SCORE: {{stats["mean"]}}
                </div>
                <div class="menbers">
                    MENBERS: {{stats["popularity"]}}
                </diV>
                <div class="ranking">
                    RANKING: {{stats["ranking"]}}
                </div>
            </div>
            {% if session["user_id"] %}
                <form class ="add-list-form" action="/addlist" method="post">
                {% if status %} 
                    <select name="status" required>
                        <option disabled value="">status</option>
                        {% for i in status_list %}
                            {% if status[0] == i %}
                                <option selected>{{ i }}</option>
                            {% else %}
                                <option >{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select name="score">
                        <option disabled selected value="">score</option>
                        {% for i in range(1, 11) %}
                            {% if status[1] == i %}
                                <option selected>{{ i }}</option>
                            {% else %}
                                <option>{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% else %}
                    <select name="status" required>
                        <option disabled selected value="">status</option>
                        <option>Watching</option>
                        <option>Planning to watch</option>
                        <option>Completed</option>
                        <option>Dropped</option>
                    </select>
                    <select name="score">
                        <option disabled selected value="">score</option>
                        <option>10</option>
                        <option>9</option>
                        <option>8</option>
                        <option>7</option>
                        <option>6</option>
                        <option>5</option>
                        <option>4</option>
                        <option>3</option>
                        <option>2</option>
                        <option>1</option>
                    </select>

                    
                {% endif %}
                <button type="submit">Add to List</button>
                <input type="number" hidden name = "show_id" value = "{{ show['id'] }}">
                </form>
            {% endif %}
            
            <div class="plot">
                <div class="small_section_title">Synopsis</div>
                {{show["plot"]}}</div>
            <div class ="people"></div>
            <div class="staff">
                <div class="small_section_title">Staff</div>
                <div class="grid">
                    {%for actor in actors%}
                    <div class="person">{{actor[0]}}: {{actor[1]}}</div>
                    {% endfor %}
                </div>

            </div>
            <div class ="people"></div>
        </div>
    </div>

{% endblock %}
